# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env
backend/.env

# Database
*.db
instance/

# Frontend
frontend/node_modules/
frontend/build/
node_modules/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Render / logs
*.log